extend layout

block content
  p
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fringilla turpis odio, eget pretium nisi pellentesque ullamcorper. Aliquam erat volutpat. Suspendisse potenti. Maecenas in malesuada metus.

  p
    | Vestibulum in vestibulum eros. Suspendisse potenti. Aenean ac molestie dolor, et ultricies magna.

block sidebar
  .widget
    h1 Sidebar
    p
      | Mauris condimentum, nisi ut tempus tincidunt, ex felis auctor sem, ut laoreet ipsum augue eu justo.
